<?xml version="1.0" encoding="UTF-8"?>
<!--
 - © Copyright IBM Corporation 2014, 2016.
 - This is licensed under the following license.
 - The Eclipse Public 1.0 License (http://www.eclipse.org/legal/epl-v10.html)
 - U.S. Government Users Restricted Rights:  Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<plugin xmlns="http://www.urbancode.com/PluginXMLSchema_v1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <header>
    <identifier id="com.urbancode.air.plugin.TextUtils" name="Text Utils" version="4"/>
    <description>The Text Utils plugin provides functionality to manipulate text within files.</description>
    <tag>Utilities/Text Utils</tag>
  </header>
  <step-type name="Search and Replace">
    <description>Search for a string, replace it with another and write to the file.</description>
    <properties>
      <property name="filePath" required="true">
        <property-ui type="textBox"
                     label="File path"
                     description="The full path to the text file to be edited."/>
      </property>
	  <property name="searchString" required="true">
        <property-ui type="textAreaBox"
                     label="Search string"
                     description="The string that the plugin will search for."/>
      </property>
	  <property name="replacementString" required="true">
        <property-ui type="textAreaBox"
                     label="Replacement string"
                     description="The string that the plugin will replace all occurances of the search string with."/>
	  </property>
    </properties>
    <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/groovy-plugin-utils-1.0.jar"/>
      <arg file="search_and_replace.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
  <step-type name="Search and Replace with Regex">
    <description>Search for a string with regular expressions, replace it with another and write to the file.</description>
    <properties>
      <property name="filePath" required="true">
        <property-ui type="textBox"
                     label="File path"
                     description="The full path to the text file to be edited."/>
      </property>
	  <property name="searchString" required="true">
        <property-ui type="textAreaBox"
                     label="Search string"
                     description="The string that the plugin will search for."/>
      </property>
	  <property name="replacementString" required="true">
        <property-ui type="textAreaBox"
                     label="Replacement string"
                     description="The string that the plugin will replace all occurances of the search string with."/>
	  </property>
    </properties>
    <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/groovy-plugin-utils-1.0.jar"/>
      <arg file="search_and_replace_with_regex.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
  <step-type name="Append text to a file">
    <description>Appends a specific string to the end of a file</description>
    <properties>
      <property name="filePath" required="true">
        <property-ui type="textBox"
                     label="File path"
                     description="The full path to the text file to be edited."/>
      </property>
	  <property name="text" required="true">
        <property-ui type="textAreaBox"
                     label="Text"
                     description="The text to be appended to the file."/>
      </property>
	  <property name="startOnNewLine">
        <property-ui type="checkBox"
                     label="Start on new line?"
                     description="If true, add a new line before the text string."/>
      </property>
	</properties>
    <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/groovy-plugin-utils-1.0.jar"/>
      <arg file="append_text.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
  <step-type name="Check file contains string">
    <description>Check if a file contains the specified string</description>
    <properties>
      <property name="filePath" required="true">
        <property-ui type="textBox"
                     label="File path"
                     description="The full path to the text file to be searched."/>
      </property>
	  <property name="searchString" required="true">
        <property-ui type="textAreaBox"
                     label="Search String"
                     description="The string that the process will look for."/>
      </property>
	</properties>
    <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/groovy-plugin-utils-1.0.jar"/>
      <arg file="check_text_exists.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
  <step-type name="Convert file from XML to JSON">
    <description>Convert file from XML format to JSON format</description>
    <properties>
      <property name="xmlFilePath" required="true">
        <property-ui type="textBox"
                     label="Input XML File path"
                     description="The full path to the XML file to be converted"/>
      </property>
      <property name="jsonFilePath" required="true">
        <property-ui type="textBox"
                     label="Output JSON File path"
                     description="The full path for the new JSON formatted file"/>
      </property>
	</properties>
    <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/json-20160212.jar:lib/groovy-plugin-utils-1.0.jar"/>
      <arg file="convert_file_xml_to_json.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
</plugin>
